{% extends "base.html" %}
{% block body %}
<link href="/static/login.css" rel="stylesheet">
<div class="wrapper">
    <form class="form-signin" method="post" action="/login">       
        <h2 class="form-signin-heading">Please log in.</h2>
        <input type="text" class="form-control" name="user" id="user_text" placeholder="Username" required="" autofocus="" />
        <input type="password" class="form-control" name="password" id="password_text" placeholder="Password" required=""/>      
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
        <br>
        <a href="/register">Need an account?</a>
    </form>
</div>
{% endblock %}
