{% extends "base.html" %}
{% block body %}
<h3>Login</h3>
<hr/>
<form method="post" action="/login">
        <table>
            <tr>
                <td>User</td>
                <td><input type="text" id="user_text" name="user" value=""/></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" id="password_text" name="password" value=""/></td>
            </tr>
            <tr>
                <td></td>
                <td style="float:right"><input type="submit" id="submit_button" value="Submit"/></td>
            </tr>
        </table>
    </form>
    <hr/>
    <a href="/register">Need an account?</a>
{% endblock %}
