{% extends "base.html" %}
<title>Bootstrap Example</title>
{% block head %}
<script>
    function format_link(href, text) {
        output = "<a href=\"" + href + "\">" + text + "</a>"
        return output
    }

    function format_icon(href, icon) {
        icon = "<img src=\"" + icon + "\" alt=\"ABC\" width=\"42\" height=\"42\" border=\"0\">";
        output = "<a href=\"" + href + "\">" + icon + "</a>"
        return output
    }

    function format_note_cards(data) {
        function format_note_card(n) {
            delete_link = format_icon("/remove/" + n.id, "/static/delete.png")
            card = `
                  <div class="card">
                    <div class="card-body">` + n.text + `&nbsp` + delete_link + ` </div>
                  </div>`
            return card;
        }
        notes_data = data["data"];
        output = '<div class="container">'
        for (i in notes_data) {
            output += format_note_card(notes_data[i]);
        }
        return output + "</div>";
    }

    $(document).ready(function () {

        $("#filter_button").click(function () {
            filter = $("#filter").val()
            $.get("/content/" + filter, function (data) {
                $("#content").html(format_note_cards(data));
            });
        });

        $.get("/content/", function (data) {
            $("#content").html(format_note_cards(data));
        });
    });
</script>
{% endblock %}
{% block body %}
<h3>Notes</h3>
<hr>
<input type="text" id="filter" name="filter" value="" />
&nbsp;
<button id="filter_button">Filter</button>
<hr>
<div id="content"></div>
<hr>
<form method="post" action="/notes">
    <table class="table table-bordered">
        <tr>
            <td>User</td>
            <td><input type="text" id="user_text" name="user" value="{{session.get('user','')}}" /></td>
        </tr>
        <tr>
            <td>Note</td>
            <td><input type="text" id="note_text" name="note" value="" /></td>
        </tr>
        <tr>
            <td></td>
            <td style="float:right"><input type="submit" id="submit_button" value="Submit" /></td>
        </tr>
    </table>
</form>
<hr>

{% endblock %}