<!DOCTYPE html>
<HTML lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        function format_link(href,text) {
            output = "<a href=\"" + href + "\">" + text + "</a>"
            return output
        }

        function format_icon(href,icon) {
            icon = "<img src=\"" + icon + "\" alt=\"ABC\" width=\"42\" height=\"42\" border=\"0\">";
            output = "<a href=\"" + href + "\">" + icon + "</a>"
            return output
        }

        function format_notes(data) {
            function format_note(n) {
                id_cell = "<td>" + n.id + "</td>"
                text_cell = "<td>" + n.text + "</td>"
                //link_cell = "<td>" + format_link("/remove/" + n.id,"Remove") + "</td>"
                link_cell = "<td>" + format_icon("/remove/" + n.id,"/static/delete.png") + "</td>"
                return "<tr>" + text_cell + link_cell + "</tr>";
            }
            notes_data = data["data"];
            output = "<table>";
            for (i in notes_data) {
                output += format_note(notes_data[i]);
            }
            return output + "</table>";
        }

        $(document).ready(function() {

            $("#filter_button").click(function() {
                filter = $("#filter").val()
                $.get("/content/" + filter, function(data) {
                    $("#content").html(format_notes(data));
                });
            });

            $.get("/content/", function(data) {
                $("#content").html(format_notes(data));
            });
        });
    </script>
</head>
<body>
{% if message != None and message != "" %}
    {{message}}
    <hr/>
{% endif %}
Notes
    <hr>
    <input type="text" id="filter" name="filter" value=""/>
    &nbsp;
    <button id="filter_button">Filter</button>
    <hr>
    <div id="content"></div>
    <hr>
    <form method="post" action="/notes">
        <table>
            <tr>
                <td>User</td>
                <td><input type="text" id="user_text" name="user" value="{{session.get('user','')}}"/></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" id="email_text" name="email" value="{{session.get('email','')}}"/></td>
            </tr>
            <tr>
                <td>ZIP</td>
                <td><input type="text" id="zip_text" name="zip" value="{{session.get('zip','44240')}}"/></td>
            </tr>
            <tr>
                <td>KEY</td>
                <td><input type="text" id="key_text" name="key" value="{{session.get('key',0)}}"/></td>
            </tr>
            <tr>
                <td>Pages this visit</td>
                <td><input type="text" id="key_text" name="key" value="{{session.get('pages',0)}}"/></td>
            </tr>
            <tr>
                <td>Note</td>
                <td><input type="text" id="note_text" name="note" value=""/></td>
            </tr>
            <tr>
                <td></td>
                <td style="float:right"><input type="submit" id="submit_button" value="Submit"/></td>
            </tr>
        </table>
    </form>
    <hr>
</body>
</HTML>
