{% extends "base.html" %}
{% block body %}
<link href="/static/register.css" rel="stylesheet">
<div class="wrapper">
    <form class="form-signin" method="post" action="/register">       
        <h2 class="form-signin-heading">Please register.</h2>
        <input type="text" class="form-control" name="user" id="user_text" placeholder="Username" required="" autofocus="" />
        <input type="text" class="form-control" name="email" id="email_text" placeholder="E-Mail" required="" />
        <input type="password" class="form-control" name="password" id="password_text" placeholder="Password" required=""/>      
        <input type="password" class="form-control" name="password_verify" id="password_verify_text" placeholder="Verify Password" required=""/>      
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>   
        <br>
        <a href="/login">Already have an account?</a>
    </form>
</div>
{% endblock %}
